body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.avatar {
    width: 183px;
    height: 183px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.notification {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: rgb(211, 76, 53);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.username {
    font-weight: bold;
    cursor: pointer;
}

.username:hover {
    color: blue;
    text-decoration: underline;
}

input, button {
    margin: 5px;
    padding: 5px;
}

button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: royalblue;
    transition: opacity 0.25s;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}